.top{
  display: flex;
  justify-content: left;
  align-self: center; 
}

.fontName{
  text-align: left;
  width: 80vh;
}

.favoriteButton{
  height: 1cm;
  margin-right: 3.5cm;
  margin-top: 0.4cm;
}

.downloadButton{
  height: 1cm;
  margin-top: 0.4cm;
}

.mid {
  font-size: large;
  display: flex;
  justify-content: left;
  align-self: center; 
}

.fontInfo{
  width: 80vh;
}

.fontType{
  flex: 0 0 200px;
}

.bottom{
  display: flex;
  justify-content: left;
  align-self: center; 
}

.textbox{
  height: 5cm;
  width: 75vh;
  margin-right: 0.7cm;
}

.fontTags{
  height: 10vh;
  max-width: 60vh;
}

.fontAuthor{
  height: 10vh;
  max-width: 60vh;
}

