.navbar {
    background-color: #add8e6; 
    color: black;
    display: flex;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.navbar-container {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 100px;
 }
 
 .links {
     align-items: center;
     display: inline-flex;
     font-weight: 600;
     justify-content: flex-end;
     text-transform: capitalize;
     width: 100%;
 }
 
 .link {
     padding: 0 30px;
     text-decoration: none;
     transition: .15s;
     outline: 0;
     color: black;
     font-size: 1.6rem;
 }

 .link:hover {
    color:white;
    transition: color .2s; 
 }

 #logo {
    max-width: 100px;
    max-height: 100px;
    border-radius: 15px;  
 }




